body{
    background-image:url(./jungle.jpg) ;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
/* top-left */
.top-left{
    font-style: normal;
    font-size: large;
    color: blanchedalmond;
   
}
/* centered */
.centered{
    font-style: normal;
    font-size: xx-large;
    color: blanchedalmond;
    position: absolute;
    top: 50%;
  left: 42%;
   }
/* centered-again */
.center-again{
    font-style: normal;
    font-size: large;
    color: blanchedalmond;
    position: absolute;
    top: 57%;
  left: 45%;
}

